{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}
{% block monTitre %}Liste de tous les types {% endblock %}
{% block body %}
<div class="row align-items-center">

    {% for type in types %}

    <div class="col-6">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2">

                <img src="{{asset('images/types/' ~ type.image )}}" class="perso_imgAliment img-fluid">


            </div>
            <div class="col">
                
                {{type.libelle}}

            </div>

        </div>
    </div>


    {% endfor %}
</div>

{% endblock %}